.main_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99vw;
    height: 70vh;
    align-items: center;
}

input{
    outline: 0;
}

.main_chckout {
    min-width: 50vw;
    max-width: 100vw;
    padding: 26px;
    box-sizing: border-box;
}

.container_img {
    width: 20vw;
    height: 250px;
    border-radius: 33px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

/* .container_img {
    width: 40vw;
    height: 250px;
    border-radius: 33px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
} */

.container_card {
    width: 314px;
    height: 164px;
    flex-shrink: 0;
    border-radius: 33px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-sizing: border-box;
    justify-content: space-between;
}


.button-fixed {
    width: 100%;
    height: 50px;
    font-size: 24px;
    background-color: #008435;
    font-weight: bold;
    color: white;
}

.container_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.infos_payament {
    margin-top: 50%;
    width: 100%;
    height: 230px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    box-sizing: border-box;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.texts_infos_card {
    display: flex;
    justify-content: space-between;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}


.btn_proximo {
    width: 100%;
    display: none;
}

@media (max-width: 600px) {
    .container_flex {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .infos_payament {
        margin-top: 50%;
        width: 100%;
        height: 230px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 15px;
        box-sizing: border-box;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .main_chckout {
        width: 100vw;
        padding: 26px;
        box-sizing: border-box;
    }

    .container_card {
        width: 100%;
        margin-top: 130px;
    }

    .container_card h3 {
        font-size: 15px;
        margin: 0;
        padding: 0;

    }

    .container_img {
        width: 100%;
        font-weight: 15px;
    }

    .main_card {
        height: auto;
    }

    form {
        margin-bottom: 50px;
    }

    .form-input {
        height: 50px;
        border: 1px solid #ebebeb;
        border-radius: 2px;
        font-size: 16px;
        color: #19191a;
        text-transform: uppercase;
        font-weight: 500;
        padding-left: 20px;
    }

    .container_for_mobile {
        display: none;
    }

    .btn_proximo {
        width: 100%;
        display: block;
    }


    .btn_proximo button {
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        border-bottom-left-radius: 33px;
        border-bottom-right-radius: 33px;
        height: 50px;
        outline: 0;
        background-color: #008435;
        border: 0;
        color: white;

    }

}